---
import {COLOR_1, COLOR_2} from "./const.js"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Home</title>
		<style define:vars={{COLOR_1, COLOR_2}}>
			* {
				font-family: Calibri, "Times New Roman", Times, serif;
			}
			#ribbon {
				background-color: var(--COLOR_1);
				/* margin-top: 0px; */
				width: 100%;
			}
		</style>
	</head>
	<body>
		<div id="ribbon">
			<a href="/">Home</a>
			<h1>Test</h1>
		</div>
	</body>
</html>
